@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Der opstod en uhåndteret fejl.
    <a href="." class="reload">Genindlæs</a>
    <span class="dismiss">🗙</span>
</div>
